snippet ot
	<% ${1} %>
snippet ote
	<%= ${1} %>
snippet div
	<div>
		${1}
	</div>
snippet span
	<span>${1}</span>
snippet br
	<br />
snippet h1
	<h1>${1}</h1>
snippet h2
	<h2>${1}</h2>
snippet h3
	<h3>${1}</h3>
snippet h4
	<h4>${1}</h4>
snippet h5
	<h5>${1}</h5>
snippet p
	<p>${1}</p>
snippet em
	<em>${1}</em>
snippet strong
	<strong>${1}</strong>
snippet ul
	<ul>
		${1}
	</ul>
snippet li
	<li>${1}</li>
